@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos base para una mejor apariencia */
body {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply bg-slate-50 dark:bg-slate-900;
}