@config "../tailwind.config.js";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body, #root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Previene scrollbars en cualquier dirección en el contenedor principal */
    background-color: theme('colors.slate.900');
  }

  body {
    font-family: theme('fontFamily.sans');
    color: theme('colors.slate.300');
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}